<h1>sabar Urutannya mbuat file di biodata controller lalu ke router lalu ke index.ejs</h1>

<h1>Holla , my name is <%= name %> and i life at <%= address %></h1>

<p> <%= teks %></p>

<ul>
    <li> <%= name %></li>
    <li> <%= address %></li>
    <li> <%= teks %></li>
</ul>

<span> <%= name %></span>
<h3> <%= name %></h3>